@charset "UTF-8";
/* line 2, ../sass/extra.scss */
.wy-nav-content .comment, .wy-nav-content .caption {
  font-size: 0.8rem !important;
  line-height: 1.3 !important;
}
/* line 6, ../sass/extra.scss */
.wy-nav-content mark, .wy-nav-content .highlight {
  background: rgba(181, 201, 172, 0.28);
  font-weight: normal !important;
  font-style: normal !important;
}
/* line 11, ../sass/extra.scss */
.wy-nav-content .del {
  text-decoration: line-through !important;
}
/* line 14, ../sass/extra.scss */
.wy-nav-content .figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 19, ../sass/extra.scss */
.wy-nav-content .figure .image {
  margin-bottom: .5rem;
}
/* line 23, ../sass/extra.scss */
.wy-nav-content table.list {
  width: 100%;
}
/* line 25, ../sass/extra.scss */
.wy-nav-content table.list tr {
  width: 100%;
}
/* line 27, ../sass/extra.scss */
.wy-nav-content table.list tr td {
  vertical-align: top;
}
/* line 29, ../sass/extra.scss */
.wy-nav-content table.list tr td:first-child {
  width: 75px !important;
  max-width: 75px !important;
}
/* line 33, ../sass/extra.scss */
.wy-nav-content table.list tr td:nth-child(2) {
  max-width: 375px !important;
}
/* line 36, ../sass/extra.scss */
.wy-nav-content table.list tr td:last-child {
  min-width: 200px !important;
}
@media screen and (min-width: 1400px) {
  /* line 43, ../sass/extra.scss */
  .wy-nav-content .comment, .wy-nav-content .figure-wrapper {
    float: right;
    clear: right;
    margin-right: -48%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }
  /* line 55, ../sass/extra.scss */
  .wy-nav-content .figure {
    align-items: flex-start;
  }
  /* line 59, ../sass/extra.scss */
  .wy-nav-content .comment::before {
    content: " ← ";
  }
}
@media screen and (max-width: 1400px) {
  /* line 65, ../sass/extra.scss */
  .wy-nav-content figure, .wy-nav-content .comment {
    margin-bottom: 24px;
  }
  /* line 68, ../sass/extra.scss */
  .wy-nav-content .comment {
    margin-right: 10px;
    background-color: rgba(204, 203, 117, 0.5);
  }
  /* line 72, ../sass/extra.scss */
  .wy-nav-content .comment::after {
    content: " ➞ ";
  }
}

/* line 80, ../sass/extra.scss */
.toctree-l1.current ul > li:first-child {
  display: none;
  visibility: hidden;
}
