@charset "UTF-8";
/* line 2, ../sass/extra.scss */
.wy-nav-content mark {
  background: transparent !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #404040 !important;
}
/* line 8, ../sass/extra.scss */
.wy-nav-content .comment, .wy-nav-content mark, .wy-nav-content .caption {
  font-size: 0.8rem !important;
  line-height: 1.3 !important;
}
/* line 12, ../sass/extra.scss */
.wy-nav-content .highlight, .wy-nav-content ins {
  background: rgba(181, 201, 172, 0.28) !important;
  font-weight: normal !important;
  font-style: normal !important;
  color: #404040 !important;
}
/* line 18, ../sass/extra.scss */
.wy-nav-content .del {
  text-decoration: line-through !important;
}
/* line 21, ../sass/extra.scss */
.wy-nav-content .figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 26, ../sass/extra.scss */
.wy-nav-content .figure .image {
  margin-bottom: .5rem;
}
/* line 30, ../sass/extra.scss */
.wy-nav-content table.list {
  width: 100%;
}
/* line 32, ../sass/extra.scss */
.wy-nav-content table.list tr {
  width: 100%;
}
/* line 34, ../sass/extra.scss */
.wy-nav-content table.list tr td {
  vertical-align: top;
}
/* line 36, ../sass/extra.scss */
.wy-nav-content table.list tr td:first-child {
  width: 75px !important;
  max-width: 75px !important;
}
/* line 40, ../sass/extra.scss */
.wy-nav-content table.list tr td:nth-child(2) {
  max-width: 375px !important;
}
/* line 43, ../sass/extra.scss */
.wy-nav-content table.list tr td:last-child {
  min-width: 200px !important;
}
/* line 49, ../sass/extra.scss */
.wy-nav-content h2 {
  margin-top: 3.32em;
  margin-bottom: 1.66em;
}
/* line 53, ../sass/extra.scss */
.wy-nav-content h3 {
  margin-top: 2.49em;
}
/* line 56, ../sass/extra.scss */
.wy-nav-content h4 {
  margin-top: 1.66em;
}
/* line 59, ../sass/extra.scss */
.wy-nav-content .figure {
  align-items: flex-start;
}
@media screen and (min-width: 1400px) {
  /* line 63, ../sass/extra.scss */
  .wy-nav-content .comment, .wy-nav-content mark {
    float: right;
    clear: right;
    margin-right: -48%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }
  /* line 76, ../sass/extra.scss */
  .wy-nav-content .comment::before, .wy-nav-content mark::before {
    content: " ← ";
  }
}
@media screen and (max-width: 1400px) {
  /* line 82, ../sass/extra.scss */
  .wy-nav-content .comment, .wy-nav-content mark {
    margin-bottom: 24px;
    margin-right: 10px;
    background-color: rgba(204, 203, 117, 0.5);
  }
  /* line 87, ../sass/extra.scss */
  .wy-nav-content .comment::after, .wy-nav-content mark::after {
    content: " ➞ ";
  }
}

/* line 96, ../sass/extra.scss */
.toctree-l1.current ul > li:first-child {
  display: none;
  visibility: hidden;
}

/* line 103, ../sass/extra.scss */
.wy-menu-vertical .subnav .subnav span {
  padding: 0.4045em 1.33em !important;
}

/* line 107, ../sass/extra.scss */
.tag, .tag:hover, .tag:visited {
  color: #373a3c;
  background: #fcfcfc;
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e1e4e5;
  border-radius: .25rem;
  margin: 0;
  margin-bottom: 24px;
  margin-right: .5rem;
  touch-action: manipulation;
  text-transform: none;
}

/* line 131, ../sass/extra.scss */
.tag:hover {
  background: #e1e4e5;
}

/* line 134, ../sass/extra.scss */
.also {
  position: relative;
  top: -12px;
  margin-bottom: 12px;
  color: #8f8e8e;
  /*&:before {
    content: "☛";
    color: #cdcdcd;
    margin-right: .5rem;
    margin-left: -1.74rem;
    font-size: 1.3rem;
  }*/
}

/* line 153, ../sass/extra.scss */
dl, dt {
  width: 100%;
}
