@media screen and (min-width: 1400px) {
  /* line 3, ../sass/extra.scss */
  .wy-nav-content figure {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }
}
/* line 16, ../sass/extra.scss */
.wy-nav-content figure {
  margin-bottom: 24px;
}
